<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projects.babyfeeding"
    android:versionCode="11"
    android:versionName="2.0" >

    <uses-sdk android:targetSdkVersion="29" />


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/pin"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">
        <provider
            android:name="com.projects.babyfeeding.BabyFeedingProvider"
            android:authorities="com.projects.babyfeeding"
            android:exported="false" >
            <grant-uri-permission android:pathPattern=".*" />
        </provider>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.projects.babyfeeding.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />
        </provider>



        <activity
            android:name="com.projects.babyfeeding.BreastFeedingActivity"
            android:label="@string/title_activity_breast_feeding"
            android:theme="@style/BreastFeedingDialog" >

            <!--
                 This filter says that we can view or edit the data of
                 a single note
            -->
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="com.projects.babyfeeding.action.INSERT_FEED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="bf/event" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main_activity" >
        </activity>
        <activity
            android:name="com.projects.babyfeeding.BreastPumpActivity"
            android:label="@string/title_activity_breast_pump"
            android:theme="@style/BreastFeedingDialog" >
        </activity>
        <activity
            android:name="com.projects.babyfeeding.BabyNappyActivity"
            android:label="@string/title_activity_baby_nappy"
            android:theme="@style/BreastFeedingDialog" >
        </activity>
        <activity
            android:name=".ExportDBActivity"
            android:label="@string/title_activity_export_db" >
        </activity>
        <activity
            android:name="com.projects.babyfeeding.DisplayXMLDataActivity"
            android:label="@string/title_activity_display_xmldata" >
        </activity>
        <activity
            android:name="com.projects.babyfeeding.MainActivity3"
            android:label="@string/title_activity_main_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.projects.babyfeeding.ShowFeedingQActivity"
            android:label="@string/title_activity_show_feeding_q" >
        </activity>
        <activity
            android:name="com.projects.babyfeeding.ShowBreastUsage"
            android:label="@string/title_activity_show_breast_usage" >
        </activity>
        <activity
            android:name="com.projects.babyfeeding.ShowFeedingqbyhourActivity"
            android:label="@string/title_activity_show_feedingqbyhour" >
        </activity>
        <activity
            android:name="com.projects.babyfeeding.CustomerEventActivity"
            android:label="@string/title_activity_customer_event"
            android:theme="@style/BreastFeedingDialog" >
        </activity>
        <activity
            android:name=".ShowUserPreferencesActivity"
            android:label="@string/title_activity_show_user_preferences" >
        </activity>
        <activity
            android:name="com.projects.babyfeeding.UserPreferencesActivity"
            android:label="@string/title_activity_user_preferences"
            android:theme="@style/BreastFeedingDialog">
        </activity>
    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

</manifest>